body {
  text-align: center;
  font-family: Arial;
  color: white;
  background: url(imagens/20210102_175138.jpg) center fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
h1{
  font-size: 8em;
  padding-top: 70px;
  text-shadow: 1px 1px 1px gray;
  margin: 60px 0px 15px 0px;
}
h3{
  font-size: 25px;
  text-shadow: 1px 1px 1px gray;
}
.first{
  text-shadow: 1px 1px 1px gray;
}
.second{
  font-family: Courier New;
  display: inline-block;
  font-size: 1em;
  position: fixed center;
  bottom: 60px;

}
footer{
  position: fixed;
  bottom: 20px;
  width: 100%;
  overflow: hidden;
}
.city_country {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
}
.email_button {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
}
.linkedin_button {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
}
.github_button {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 5px 5px 5px 5px;
}
.email_button:hover {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
  padding: 5px 5px 5px 5px;
}
.linkedin_button:hover {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
  padding: 5px 5px 5px 5px;
}
.github_button:hover {
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 25px;
  padding: 5px 5px 5px 5px;
}

  margin-top: 180px;
  margin-bottom: 60px;
  padding: 10px 15px 10px 15px;
